.testimonials-one {
	padding-bottom: 120px;
	@media (max-width: 991px) {
		padding-bottom: 80px;
	}
	.container {
		@media (max-width:1200px) {
			max-width: 100%;
		}
	}
	.sec-title {
		text-align: center;
		&__title { margin-top: 0; }
	}
	.row {
		--bs-gutter-x: 15px;
	}
	&__carousel {
		.owl-nav.disabled {
			display: none !important;
		}
	}

	&--two {
		padding-top: 112px;
		@media (max-width: 991px) {
			padding-top: 74px;
			padding-bottom: 80px;
		}
		.testimonials-card {
			padding: 0;
		}
		.testimonials-card__inner {
			border: 2px solid $grdeen-base;
			background-color: $grdeen-text-dark2;
			border-radius: 8px;
			padding: 39px 30px 29px 35px;
		}
		.testimonials-card__content {
			padding: 0;
			margin-bottom: 28px;
		}
		.testimonials-card__top {
			margin: 0;
		}
		.testimonials-card__image {
			width: 72px;
			min-width: 72px;
			height: 72px;
			border-radius: 50%;
			border: 0;
			-webkit-box-shadow: 0px 0px 0px 4px $grdeen-white;
			box-shadow: 0px 0px 0px 4px $grdeen-white;
			margin-right: 0;
			&::after { content: none;}
			img {
				width: 100% !important;
				height: auto;
			}
		}
		.testimonials-card__top__left {
			width: calc(calc(100% - 72px) / 1);
			padding-left: 22px;
			padding-right: 35px;
		}
		.testimonials-card__name {
			margin: 0 0 3px 0;
			color: $grdeen-white;
		}
	}
}

.testimonials-card {
	transition: all 500ms ease;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 33px -5px rgba(0, 0, 0, 0.2); 
	box-shadow: 0px 0px 33px -5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding-bottom: 34px;
	&__masking {
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 170px;
		left: 0;
		bottom: 0;
		z-index: 1;
		color: $grdeen-white;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: cover;
		@media (min-width:992px) {
			@include svgMask('<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M0 0 C17.03390441 0 17.03390441 0 24.5546875 0.40234375 C26.35826943 0.48951644 28.16190239 0.57563769 29.96557617 0.66088867 C31.39430557 0.72885147 31.39430557 0.72885147 32.85189819 0.79818726 C88.18938196 3.34828884 143.62113348 3.19041849 199 2.625 C200.04969845 2.6143539 201.0993969 2.60370781 202.18090439 2.59273911 C222.16171179 2.38753025 242.1417505 2.14778864 262.11962891 1.74389648 C299.72703805 0.99038584 337.32029078 0.81196598 374.93391919 0.81488919 C381.59172952 0.81453697 388.24948744 0.80287795 394.90728128 0.7889536 C401.49491358 0.77569622 408.08252306 0.77052035 414.67016852 0.77115268 C418.53423177 0.77140099 422.39823039 0.76893405 426.26227951 0.75797462 C453.93844978 0.68481088 481.68612149 1.49041782 509.1875 4.8125 C509.89607147 4.89614807 510.60464294 4.97979614 511.33468628 5.065979 C530.83821401 7.38581867 552.19905853 10.09952927 570 19 C570 68.5 570 118 570 169 C381.9 169 193.8 169 0 169 C0 113.23 0 57.46 0 0 Z " transform="translate(0,1)"/></svg>', repeat, center bottom, cover);
		}
		@media (max-width:991px) {
			background-color: $grdeen-white;
			background-image: none;
			max-height: initial;
		}
	}
	&__inner {
		background-color: rgba($grdeen-white2-rgb,0.9);
	}
	&__top {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		margin-bottom: -12px;
		@media (max-width:991px) {
			margin-bottom: -5px;
		}
	}
	&__image {
		flex-shrink: 0;
		margin-right: 22px;
		border: 2px dashed $grdeen-base;
		border-radius: 8% 50% 50% 0;
		transition: all 500ms ease;
		width: 138px;
		min-width: 138px;
		height: 138px;
		background-color: $grdeen-white;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: calc(100% + 2px);
			height: calc(100% + 4px);
			top: -2px;
			left: -8px;
			z-index: 1;
			border-radius: 0 55% 55% 0;
			background-color: $grdeen-white;
			transition: all 500ms ease;
		}
		img {
			transition: all 500ms ease;
			position: relative;
			z-index: 2;
			width: 106px !important;
			height: 106px;
			border-radius: 50%;
		}
	}

	&:hover &__image {
		img {
			-webkit-box-shadow: 0px 0px 1px 8px rgba(26,145,32,0.7); 
			box-shadow: 0px 0px 1px 8px rgba(26,145,32,0.7);
		}
	}
	&__rating {
		display: flex;
		align-items: center;
		&__start {
			color: $grdeen-base;
			font-size: 12px;
			letter-spacing: $grdeen-letter-space-xl;
			@include iconSvg;
		}
	}
	&__top__left {
		position: relative;
	}
	&__name {
		margin: 0;
		color: $grdeen-text-dark;
		font-size: 22px;
		line-height: 26px;
		font-weight: 600;
		margin-top: 13px;
		margin-bottom: 1px;
	}
	&__designation {
		margin: 0;
		line-height: 1;
		font-size: 14px;
		font-weight: 400;
	}
	&__quoteicon {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		margin: auto 0;
		@include iconSvg;
		color: $grdeen-base;
		font-size: 28px;
	}
	&__contentwrap {
		position: relative;
		padding-top: 40px;
	}
	&__content {
		padding: 0 40px;
		font-size: $body-size;
		line-height: 30px;
		position: relative;
		z-index: 2;
	}

	&__ratingwrap { margin-bottom: 25px; }
	&__icon {
		width: 47px;
		animation: testimonialEffect2 1.3s linear infinite alternate;
		@keyframes testimonialEffect2 {
			0% {
				transform: rotate(-12deg);
			}
			100% {
				transform: rotate(12deg);
			}
		}
		img {
			width: 100% !important;
		}
	}
	&__shape2 {
		position: absolute;
		width: 115px;
		height: auto;
		left: 0;
		bottom: 0;
		z-index: 1;
		transition: all 0.5s ease;
		img {
			transition: all 0.5s ease;
			width: 100% !important;
		}
	}
	&:hover &__shape2 {
		img {
			filter: brightness(0) invert(1) drop-shadow(2px 4px 6px $grdeen-base);
		}
	}
}

.testimonials-two {
	position: relative;
	padding: 120px 0;
	background-color: $grdeen-black;

	@media (max-width: 767px) {
		padding: 80px 0;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $grdeen-black;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		opacity: .3;
	}

	&__carousel {
		position: relative;
		text-align: center;
		max-width: 850px;
		margin: auto;
	}

	&__item {
		position: relative;
		margin: 0 0 22px;

		&__ratings {
			display: flex;
			justify-content: center;
			align-items: center;
			color: $grdeen-base;
			font-size: 14px;
			letter-spacing: 3px;
			margin-bottom: 25px;
		}

		&__quote {
			font-size: 36px;
			line-height: 50px;
			font-weight: 500;
			color: $grdeen-white;
			font-family: $grdeen-heading-font;
			font-style: italic;
		}
	}

	&__carousel-thumb {
		max-width: 525px;
		margin: auto;
		position: relative;

		.item {
			position: relative;
			text-align: center;
			display: inline-block;
			padding: 30px 0 0;

			.testimonials-two__meta-thumb {
				width: 72px;
				height: 72px;
				border-radius: 50%;
				object-fit: cover;
				display: block;
				position: relative;
				margin-bottom: 22px;

				&::after {
					position: absolute;
					left: -7px;
					top: 0;
					right: 0;
					bottom: 0;
					border-radius: 50%;
					margin: auto;
					width: calc(100% + 14px);
					height: calc(100% + 14px);
					content: '';
					border: 2px solid $grdeen-base;
					visibility: hidden;
					opacity: 0;
					transition: 500ms ease;
					transform: scale(.8);
				}

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
					object-fit: cover;
				}
			}
		}

		.active.center {
			.item .testimonials-two__meta-thumb::after {
				visibility: visible;
				opacity: 1;
				transform: scale(1.1);
			}

			.testimonials-two__meta {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	&__meta {
		position: relative;
		display: block;
		visibility: hidden;
		margin-left: -48%;
		opacity: 0;
		transform: translateY(20%);
		transition: 500ms ease;

		&__name {
			display: flex;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			margin-bottom: 8px;
			color: $grdeen-white;
			font-family: $grdeen-heading-font;
		}

		&__designation {
			display: flex;
			justify-content: center;
			align-items: center;
			white-space: nowrap;
			font-size: 12px;
			line-height: 1;
			font-weight: 500;
			text-transform: uppercase;
			line-height: 1;
			letter-spacing: 2.4px;
			color: $grdeen-base;
		}
	}
}

.testimonials-three {
	position: relative;
	background-color: $grdeen-gray;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 120px 0;

	@media (max-width: 767px) {
		padding: 80px 0;
	}

	&__content {
		position: relative;

		.sec-title {
			padding-bottom: 27px;
		}

		&__text {
			font-size: 15px;
			line-height: 30px;
			margin: 0 0 28px;
		}
	}

	&__carousel-nav {
		position: relative;
		display: flex;
		align-items: center;

		a {
			width: 57px;
			height: 57px;
			background-color: $grdeen-white;
			font-size: 16px;
			color: $grdeen-black;
			border-radius: 50%;
			line-height: 58px;
			text-align: center;

			&:hover {
				background-color: $grdeen-base;
				color: $grdeen-white;
			}
		}

		a+a {
			margin-left: 10px;
		}
	}

	&__item {
		position: relative;
		display: flex;

		@media (max-width: 1199px) {
			margin-top: 50px;
		}

		@media (max-width: 767px) {
			display: block;
		}

		&__content {
			max-width: 430px;
			position: relative;
			z-index: 2;
			background-color: $grdeen-white;
			background-position: top right;
			background-repeat: no-repeat;
			padding: 10px;
			box-shadow: 0px 10px 60px 0px rgba($grdeen-black3-rgb, 0.07);

			&::after {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 74px 40px 0;
				border-color: transparent $grdeen-white transparent transparent;
				position: absolute;
				right: 115px;
				bottom: -40px;
				content: '';
			}
		}

		&__thumb {
			position: absolute;
			right: 0;
			top: 0;

			@media (min-width: 992px) and (max-width: 1199px) {
				right: 50px;
			}

			@media (max-width: 767px) {
				position: relative;
				margin: 50px 0 0;
			}

			&-one {
				display: inline-block;
				border-radius: 50%;
				overflow: hidden;
				margin: 26px 0 0;
				-webkit-animation-duration: .5s;
				animation-duration: .5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				img {
					max-width: 100%;
					border-radius: 50%;
				}
			}

			&-two {
				position: absolute;
				right: 0;
				top: 0;
				width: 197px;
				height: 197px;
				border-radius: 50%;
				overflow: hidden;
				-webkit-animation-duration: .5s;
				animation-duration: .5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				img {
					max-width: 100%;
					border-radius: 50%;
				}
			}

			&-flower {
				position: absolute;
				right: -53px;
				top: 68px;
				-webkit-animation-duration: .5s;
				animation-duration: .5s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;

				@media (max-width: 767px) {
					display: none;
				}

				img {
					max-width: 100%;
					-webkit-animation-name: float-bob-y-2;
					animation-name: float-bob-y-2;
					-webkit-animation-duration: 4s;
					animation-duration: 4s;
					-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
					-webkit-animation-timing-function: linear;
					animation-timing-function: linear;
				}
			}
		}
	}

	&__meta {
		display: flex;
		align-items: center;
		background-color: $grdeen-base;
		padding: 10px 48px 10px;
		margin-bottom: 29px;

		@media (max-width: 767px) {
			padding-right: 30px;
			padding-left: 30px;
		}

		&__title {
			margin: 0;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			color: $grdeen-white;
		}

		&__designation {
			position: relative;
			margin: 0 0 0 30px;
			font-size: 14px;
			color: $grdeen-white;

			&::before {
				position: absolute;
				left: -18px;
				bottom: -3px;
				content: '.';
				color: $grdeen-white;
				font-size: 18px;
				font-weight: 700;
			}
		}
	}

	&__ratings {
		display: flex;
		align-items: center;
		color: $grdeen-base;
		font-size: 16px;
		letter-spacing: 3px;
		margin: 0 0px 19px 50px;

		@media (max-width: 767px) {
			margin-left: 30px;
		}
	}

	&__quote {
		font-size: 24px;
		line-height: 40px;
		color: $grdeen-black;
		font-family: $grdeen-heading-font;
		font-weight: 700;
		font-style: italic;
		margin: 0 40px 36px 50px;

		@media (max-width: 767px) {
			margin-right: 30px;
			margin-left: 30px;
		}
	}

	.active {
		.testimonials-three__item__thumb-one {
			animation-delay: .3s;
			animation-name: fadeInUp;
		}

		.testimonials-three__item__thumb-two {
			animation-delay: .4s;
			animation-name: fadeInUp;
		}

		.testimonials-three__item__thumb-flower {
			animation-delay: .5s;
			animation-name: fadeInUp;
		}
	}
}